/*weather flex box*/
.weather{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weather figure{
    flex: 1 0 55%;
}
.weather section{
    flex: 0 1 50%;
}
/*.small-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.small-classes figure{
    width: 20em,*/
